<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Chatting App</title>
  <link rel="stylesheet" type="text/css" href="../css/meyers_reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <% if (user) { %>
    <script type="text/javascript" src="../js/index.js"></script>
  <% } %>
</head>
<body>
</body>
</html>