<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Blog Api || Log In</title>
  <link rel="stylesheet" type="text/css" href="../css/meyers_reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>
  <header>
    <h1>Blog Api</h1>
  </header>
  <form id="form-posts-new" action="/posts" method="POST">
    <label type="text">Title</label>
    <input type="text" id="title" name="title" placeholder="Insert Title Here..." />
    <label type="text">Content</label>
    <input type="text" id="content" name="content" placeholder="Insert Content Here..." />
    <button type="submit" id="btn-post-submit">Submit Post</button>
  </form>
</body>
</html>